<!-- nav-bar -->

<div class="container-fluid nav-bar">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple" [containerInside]="false">
      <mdb-navbar-brand>
          <a class="navbar-brand" href="#">TRAVELLIA.com</a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a routerLink=''><a class="nav-link waves-light" href="#" mdbWavesEffect> <span class="sr-only">(current)</span></a></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link waves-light" href="#" mdbWavesEffect></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link waves-light" href="#" mdbWavesEffect></a>
              </li>
          </ul>
          <ul class="  nav-item navbar-nav ">
            <li class="nav-item">
  
                <button mdbBtn color="purple" class="waves-light2" (click)="logout()" mdbWavesEffect>Logout</button>
                <!-- <a class="nav-link waves-light" href="#" mdbWavesEffect (click)="logout()">Logout</a> -->
            </li>
          </ul>
         
      </links>
  </mdb-navbar>
</div>

<!-- nav bar -->


<div class="container">
  <div class="row addprp">
    <div class="col-lg-12">
      <a routerLink='/Addpropertyone'><button mdbBtn type="button" color="purple" class="waves-light" mdbWavesEffect>Add New Property</button></a>
    </div>
  </div>
</div>