<!-- nav-bar -->

<div class="container-fluid nav-bar">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">TRAVELLIA.com</a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink=''><a class="nav-link waves-light" href="#" mdbWavesEffect> <span class="sr-only">(current)</span></a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="#" mdbWavesEffect></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="#" mdbWavesEffect></a>
        </li>
      </ul>

    </links>
  </mdb-navbar>
</div>

<!-- nav bar -->

<div class="container">
  <div class="row back">
    <div class="col-lg-12">
      <a routerLink='/properties'><button mdbBtn type="button" color="purple" class="waves-light" mdbWavesEffect>Back</button></a>
    </div>
  </div>
  <div class="row Wellcome">
    <h3><b>Wellcome Tharindu Gimhana</b></h3>
  </div>


  <div class="container" [formGroup]="addpropertyone">

    <div class="row">
      <div class="col-lg-6">
        <div class="md-form">
          <input mdbInputDirective type="text" formControlName="name" id="form1" class="form-control">
          <label for="form1" class="">What is the name of your property</label>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="md-form">
          <textarea mdbInputDirective type="text" id="form7" formControlName="description" class="md-textarea form-control"
            rows="3"></textarea>
          <label for="form7">Give the small description about your property</label>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <label>Star Rating</label><br>
        <select class="browser-default" formControlName="star">
          <option value="" disabled selected>Choose your option</option>
          <option value="no star">N/A</option>
          <option value="One star">One star</option>
          <option value="Two star">Two star</option>
          <option value="Three star">Three star</option>
          <option value="Four star">Four star</option>
          <option value="Five star">Five star</option>
        </select>
        <div class="col-lg-6"></div>
      </div>
    </div>

    <div class="row contd">
      <div class="col-lg-6">
        <h4>What are the contact details for this property</h4>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form2" formControlName="contactname" class="form-control">
          <label for="form2" class="">Contact name</label>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>

    <div class="row ">
      <div class="col-lg-6">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form3" formControlName="contactno" class="form-control">
          <label for="form3" class="">Contact Number</label>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row loc">
      <div class="col-lg-6">
        <h4>Where is your property located</h4>
        <div class="md-form">

          <input mdbInputDirective type="text" id="form4" formControlName="address" class="form-control">
          <label for="form4" class="">Address</label>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row ">
      <div class="col-lg-6">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form5" formControlName="city" class="form-control">
          <label for="form5" class="">City</label>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row ">
      <div class="col-lg-6">
        <div class="md-form">
          <input mdbInputDirective type="text" formControlName="postalcode" id="form6" class="form-control">
          <label for="form6" class="">Post code</label>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>


    <div class="container">
      <div class="row back">
      </div>
      <div class="row Wellcome-r">
        <h3><b>Add rooms and pricing</b></h3>
      </div>
    </div>


    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Room type</th>
            <th scope="col">Quntity</th>
            <th scope="col">Sleeps</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <select class="browser-default" formControlName="roomtype1">
                <option value="" disabled selected>Choose room type</option>
                <option value="no star">Superior double room</option>
                <option value="One star">Superior triple room</option>
                <option value="Two star">Delux double room</option>
                <option value="Three star">Premium room</option>
              </select>

            </th>
            <td><input mdbInputDirective type="text" id="form1" class="form-control1" formControlName="quntity1"></td>
            <td><input mdbInputDirective type="text" id="form2" class="form-control1" formControlName="sleeps1"></td>
            <td><input mdbInputDirective type="text" id="form2" class="form-control1" formControlName="price1"></td>
          </tr>

          <tr>
            <th scope="row">
              <select class="browser-default" formControlName="roomtype2">
                <option value="" disabled selected>Choose room type</option>
                <option value="no star">Superior double room</option>
                <option value="One star">Superior triple room</option>
                <option value="Two star">Delux double room</option>
                <option value="Three star">Premium room</option>
              </select>

            </th>
            <td><input mdbInputDirective type="text" id="form1" class="form-control1" formControlName="quntity2"></td>
            <td><input mdbInputDirective type="text" id="form2" class="form-control1" formControlName="sleeps2"></td>
            <td><input mdbInputDirective type="text" id="form2" class="form-control1" formControlName="price2"></td>
          </tr>

          <tr>
            <th scope="row">
              <select class="browser-default" formControlName="roomtype3">
                <option value="" disabled selected>Choose room type</option>
                <option value="no star">Superior double room</option>
                <option value="One star">Superior triple room</option>
                <option value="Two star">Delux double room</option>
                <option value="Three star">Premium room</option>
              </select>

            </th>
            <td><input mdbInputDirective type="text" id="form1" class="form-control1" formControlName="quntity3"></td>
            <td><input mdbInputDirective type="text" id="form2" class="form-control1" formControlName="sleeps3"></td>
            <td><input mdbInputDirective type="text" id="form2" class="form-control1" formControlName="price3"></td>
          </tr>

          <tr>
            <th scope="row">
              <select class="browser-default" formControlName="roomtype4">
                <option value="" disabled selected>Choose room type</option>
                <option value="no star">Superior double room</option>
                <option value="One star">Superior triple room</option>
                <option value="Two star">Delux double room</option>
                <option value="Three star">Premium room</option>
              </select>

            </th>
            <td><input mdbInputDirective type="text" id="form1" class="form-control1" formControlName="quntity4"></td>
            <td><input mdbInputDirective type="text" id="form2" class="form-control1" formControlName="sleeps4"></td>
            <td><input mdbInputDirective type="text" id="form2" class="form-control1" formControlName="price4"></td>
          </tr>

        </tbody>
      </table>
    </div>


    <!-- add main image -->

    <div class="row">
      <h4>Add main view image of your property</h4>
    </div>

    <div class="row">
      <img [src]="imageUrl" style="width:250px;height:200px">
    </div>

    <div class="row addbtn">
      <div id="fileselector">
        <input style="display:none;" #fileInput type="file"  id="fileUpload" (change)="onFileSelected($event)"
          (change)="handleFileInput($event.target.files)" accept="image/*">
      </div>
    </div>

    <div class="row">
      <button (click)="fileInput.click()" class="pick" mdbBtn type="button" color="secondary" outline="true"
        mdbWavesEffect>Pick a photo</button>
    </div>

    <div class="row">
      <button mdbBtn type="button" (click)="onUpload()"  color="pink" class="waves-light uploadbtn" mdbWavesEffect>Upload</button>
    </div>


    <!-- add main image -->



    <!-- five images -->


    <!-- <div class="row">
      <h4>Add four images in your property</h4>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div class="row">
          <img [src]="imageUrltwo" style="width:250px;height:200px">
        </div>

        <div class="row addbtn">
          <div id="fileselector">
            <input style="display:none;" #fileInputtwo type="file" name="hotelimage" id="fileUploadtwo" (change)="onFileSelected($event)"
              (change)="handleFileInputtwo($event.target.files)" accept="image/*">
          </div>
        </div>

        <div class="row">
          <button (click)="fileInputtwo.click()" class="pick" mdbBtn type="button" color="secondary" outline="true"
            mdbWavesEffect>Pick a photo</button>
        </div>

        <div class="row">
          <button mdbBtn type="button" (click)="onUpload()" color="pink" class="waves-light uploadbtn" mdbWavesEffect>Upload all</button>
        </div>
      </div>


      <div class="col-lg-3">
        <div class="row">
          <img [src]="imageUrlthree" style="width:250px;height:200px">
        </div>

        <div class="row addbtn">
          <div id="fileselector">
            <input style="display:none;" #fileInput type="file" name="hotelimage" id="fileUpload" (change)="onFileSelected($event)"
              (change)="handleFileInputthree($event.target.files)" accept="image/*">
          </div>
        </div>

        <div class="row">
          <button (click)="fileInput.click()" class="pick" mdbBtn type="button" color="secondary" outline="true"
            mdbWavesEffect>Pick a photo</button>
        </div>
    
      </div>


      <div class="col-lg-3">
        <div class="row">
          <img [src]="imageUrlfour" style="width:250px;height:200px">
        </div>

        <div class="row addbtn">
          <div id="fileselector">
            <input style="display:none;" #fileInput type="file" name="hotelimage" id="fileUpload" (change)="onFileSelected($event)"
              (change)="handleFileInputfour($event.target.files)" accept="image/*">
          </div>
        </div>

        <div class="row">
          <button (click)="fileInput.click()" class="pick" mdbBtn type="button" color="secondary" outline="true"
            mdbWavesEffect>Pick a photo</button>
        </div>     
      </div>


      <div class="col-lg-3">
        <div class="row">
          <img [src]="imageUrlfive" style="width:250px;height:200px">
        </div>

        <div class="row addbtn">
          <div id="fileselector">
            <input style="display:none;" #fileInput type="file" name="hotelimage" id="fileUpload" (change)="onFileSelected($event)"
              (change)="handleFileInputfive($event.target.files)" accept="image/*">
          </div>
        </div>

        <div class="row">
          <button (click)="fileInput.click()" class="pick" mdbBtn type="button" color="secondary" outline="true"
            mdbWavesEffect>Pick a photo</button>
        </div>

      </div>
    </div> -->


    <!-- five images -->









    <div class="row cont">
      <div class="col-lg-6">
        <button mdbBtn type="button" color="secondary" (click)="addpr()" class="waves-light" mdbWavesEffect>Continue</button>

      </div>
      <div class="col-lg-6"></div>
    </div>
    <div class="row space"></div>


  </div>