.nav-bar{
    padding: 0px;
    position: fixed;
    z-index: 1;
    
}

.Wellcome{
    padding: 60px 0px 20px 0px;
}

.Wellcome-r{
    padding: 0px 0px 40px 0px;
}

.contd{
    padding: 40px 0px 0px 0px;
}

.loc{
    padding: 40px 0px 0px 0px;
}

.space{
    height: 100px;
}

.back{
    padding: 80px 0px 0px 0px;
}

.form-control1{
    width: 100px;
   
}

.cont{
    padding-top: 50px;
}

.addbtn{
    padding: 0px 0px 20px 0px;
}

.pick{
    padding: 5px !important;
}

.uploadbtn{
    padding: 7px !important;
    margin-bottom: 30px;
}







