<!-- nav-bar -->

<div class="container-fluid nav-bar">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">TRAVELLIA.com</a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink=''><a class="nav-link waves-light" href="#" mdbWavesEffect> <span class="sr-only">(current)</span></a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="#" mdbWavesEffect></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="#" mdbWavesEffect></a>
        </li>
      </ul>

    </links>
  </mdb-navbar>
</div>

<!-- nav bar -->

<div class="container">
  <div class="row back">
    <div class="col-lg-12">
      <a routerLink='/properties'><button mdbBtn type="button" color="purple" class="waves-light" mdbWavesEffect>Back</button></a>
    </div>
  </div>
  <div class="row Wellcome">
    <h3><b>Wellcome Tharindu Gimhana</b></h3>
  </div>


  <div class="container" [formGroup]="addpropertyone">

    <div class="row">
      <div class="col-lg-6">
        <div class="md-form">
          <input mdbInputDirective type="text" formControlName="name" id="form1" class="form-control">
          <label for="form1" class="">What is the name of your property</label>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="md-form">
          <textarea mdbInputDirective type="text" id="form7" formControlName="description" class="md-textarea form-control" rows="3"></textarea>
          <label for="form7">Give the small description about your property</label>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <label>Star Rating</label><br> 
        <select class="browser-default" formControlName="star">
          <option value="" disabled selected>Choose your option</option>
          <option value="no star">N/A</option>
          <option value="One star">One star</option>
          <option value="Two star">Two star</option>
          <option value="Three star">Three star</option>
          <option value="Four star">Four star</option>
          <option value="Five star">Five star</option>
        </select>
        <div class="col-lg-6"></div>
      </div>
    </div>

    <div class="row contd">
      <div class="col-lg-6">
        <h4>What are the contact details for this property</h4>
        <div class="md-form">
          <input mdbInputDirective type="text" id="form2" formControlName="contactname" class="form-control">
          <label for="form2" class="">Contact name</label>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>

    <div class="row ">
      <div class="col-lg-6">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form3" formControlName="contactno" class="form-control">
          <label for="form3" class="">Contact Number</label>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row loc">
      <div class="col-lg-6">
        <h4>Where is your property located</h4>
        <div class="md-form" [formGroup]="addproperty">
     
      <input mdbInputDirective type="text" id="form4" formControlName="address" class="form-control">
          <label for="form4" class="">Address</label>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row ">
      <div class="col-lg-6">
        <div class="md-form">
          <input mdbInputDirective type="text" id="form5" formControlName="city" class="form-control">
          <label for="form5" class="">City</label>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row ">
      <div class="col-lg-6">
        <div class="md-form">
          <input mdbInputDirective type="text" formControlName="postalcode" id="form6" class="form-control">
          <label for="form6" class="">Post code</label>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="row cont">
      <div class="col-lg-6">
          <a routerLink='/addpropertytwo'><button mdbBtn type="button" color="secondary" (click)="add()" class="waves-light" mdbWavesEffect>Continue</button></a>

      </div>
      <div class="col-lg-6"></div>
    </div>
    <div class="row space"></div>


  </div>