/* navbar-styles */

.navbar.navbar-2 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}



.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid purple;
    box-shadow: 0 1px 0 0 #e659f8;
  }
  
  .active-cyan input[type=text] {
    border-bottom: 1px solid purple;
    box-shadow: 0 1px 0 0 #e659f8;
  }
  
  .active-cyan .fa,
  .active-cyan-2 .fa {
    color: purple;
  }
  
  .nav-bar{
      padding: 0px;
      position: fixed;
      z-index: 1;
      
      
  }



  /* /navbar-styles */

.main-body{
    padding: 100px 150px 50px 150px;
    background-image: url(../../assets/bg5.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.booking-panel{
    background-color: white;
    padding: 20px;
    opacity: .8;
    border-radius: 3px;
}

.des-panel{
    background-color: white;
    opacity: .8;
    border-radius: 3px;
    padding: 20px;
}


  /* date-picker */

  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(191, 2, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(184, 47, 189, 0.5);
  }

   /* date-picker */


   /* card */


   .cards{
       padding: 50px;
   }

   .card-title{
       padding: 0px;
   }


   .imgct img {
     height: 100px !important;
   }
  

   /* card */
