.nav-bar{
    padding: 0px;
    position: fixed;
    z-index: 1;
    
    
}

.acounts h2{
   text-align: center;
   margin: auto;
   padding: 20px;
   color: #2bbbad;
}

.acounts p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
 }

 .login-signup{
     padding: 0px 100px 50px 100px;
     
 }

 .modal-footer{
     margin: auto !important;
     text-align: center !important;
 }

 .signupbtn{
    margin: auto !important;
    text-align: center !important;
    float: right;
 }
 .btn{
    margin: auto !important;
    text-align: center !important;
 }

 .signup{
     margin-bottom: 20px;
 }

