<!-- nav-bar -->

<div class="container-fluid nav-bar">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">TRAVELLIA.com</a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a routerLink=''><a class="nav-link waves-light" href="#" mdbWavesEffect>Home <span class="sr-only">(current)</span></a></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" href="#" mdbWavesEffect></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" href="#" mdbWavesEffect></a>
                </li>
            </ul>
           
        </links>
    </mdb-navbar>
</div>

<!-- nav bar -->

<div class="container">
  <div class="row acounts">
    <h2>Manage Your Properties</h2>

  </div>

</div>

<!-- login -->

<div class="container">
  <div class="row login-signup">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

      <div mdbModal #frame="mdbModal" [formGroup]="loginForm" id="frameModalTop" role="dialog" aria-labelledby="myModalLabel" aria-hidden="">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>

            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="defaultForm-email" formControlName="email" class="form-control validate"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
              </div>

              <div class="md-form mb-4">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="defaultForm-pass" formControlName="password" class="form-control validate"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="default" class="waves-light" (click)="login()" mdbWavesEffect>Login</button>
            </div>

            
            <div class="" style="text-align:center;">
              {{successMessage}}
            </div>
          </div>
        </div>
      </div>




      <!-- login -->



      <!-- signup -->


      <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="frame2.show()" mdbWavesEffect>Sign Up</button>

      <div  [formGroup]="myForm" mdbModal #frame2="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-fname" formControlName="firstName" class="form-control validate"
               mdbInputDirective>
                <label data-error="wrong" data-success="right" for="orangeForm-fname">First name</label>
              </div>
              <div class="md-form mb-5">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-lname" formControlName="lastName" class="form-control validate"
                   mdbInputDirective>
                <label data-error="wrong" data-success="right" for="orangeForm-lname">Last name</label>
              </div>
              <div class="md-form mb-5">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input  type="email" id="orangeForm-email" formControlName="email" name="email" class="form-control validate"
                   mdbInputDirective>
                <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
              </div>

              <div class="md-form mb-4">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" formControlName="password" name="password" class="form-control validate"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
              </div>

            </div>
            <div class="signupbtn">
              <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="deep-orange" (click)="register()" class="waves-light" mdbWavesEffect>Sign up</button>
              </div>
            </div>

            <div class="" style="text-align:center;">
              {{successMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>


<!-- signup -->